.Card_Box{
    display: flex;
    align-items: center;
    line-height: 0;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid #a3a0f9;
}

.Card_Box_right{
    display: flex;
    gap: 3rem;
}

.Card_Box_right_middle{
    margin-top: -1.2rem;
}

.Card_Box_left{
    border-radius: 50%;
}