.Chat{
    padding: 2rem;
    background-color: #28272c;
    border-radius: 0.5rem;
    overflow-y: scroll;
}

.Chat_box{
    display: grid;
    grid-template-columns: 1fr;
    height: 50vh;
    width: 80%;
    margin: 0 auto;
    overflow-y: scroll;
}

.Chat_box_right p,
.Chat_box_left p{
    background-color: #a3a0f9;
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    position: relative;
}

.Chat_box_left_title{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    font-size: 1rem;
}

.Chat_box_send_img{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.Chat_box_send_img input{
    
}